<activity android:name="com.arellomobile.android.push.PushWebview"/>
 
<activity android:name="com.arellomobile.android.push.MessageActivity"/>
 
<activity android:name="com.arellomobile.android.push.PushHandlerActivity"/>
 
<!--
  BroadcastReceiver that will receive intents from GCM
  services and handle them to the custom IntentService.
 
  The com.google.android.c2dm.permission.SEND permission is necessary
  so only GCM services can send data messages for the app.
-->
<receiver
        android:name="com.google.android.gcm.GCMBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
    <intent-filter>
        <!-- Receives the actual messages. -->
        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        <!-- Receives the registration id. -->
        <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        <category android:name="com.phonegap.xpression"/>
    </intent-filter>
</receiver>
 
<!--
  Application-specific subclass of PushGCMIntentService that will
  handle received messages.
-->
<service android:name="com.arellomobile.android.push.PushGCMIntentService"/>
<activity android:name="xpression"
           android:label="@string/app_name"
           android:configChanges="orientation|keyboardHidden"
           android:launchMode="singleTop"
         >
     <intent-filter>
         <action android:name="xpression.MESSAGE"/>
         <category android:name="android.intent.category.DEFAULT"/>
     </intent-filter>
     <intent-filter>
         <action android:name="android.intent.action.MAIN"/>
         <category android:name="android.intent.category.LAUNCHER"/>
     </intent-filter>
 </activity>